{% extends 'base.html' %}

{% block content %}
<div class="block-title">
<h1>{% block title %} Welcome to CyberCanary! {% endblock %}</h1>
<h3> See newest posts: </h3>
</div>
<div id="posts-container">
</div>
<script>
    async function fetchRecentPosts() {
        try {
          const response = await fetch('/posts'); // Replace with your API endpoint
          console.log("API Response:", response); // Debugging
          if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
          }
          const posts = await response.json();
          console.log("Posts Data:", posts); // Debugging
          displayPosts(posts); // Function to update the UI with fetched posts
        } catch (error) {
          console.error('Error fetching recent posts:', error);
        }
      }
      
      function displayP